@font-face{
  font-family: consolas, sans-serif;
  src: url('CONSOLA.ttf');
}
html, body {
  background: linear-gradient(to top right, dodgerblue, purple);
  margin: 0 0 0 0;
  z-index: -2;
  overflow-x: hidden;
}
